body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
table{
	border-collapse: collapse;
	border: 2px solid rgb(200,200,200);
	letter-spacing: 1px;
	height: 100%;
	width: 100%;
}
td, th {
	  height: 50%;
	width: 50%;
}
#r {
	  background-color: rgb(11, 168, 134);
}
#k {
	  background-color: rgb(190, 91, 16);
}
